/* ====================== Initialisation ====================== */

/* Réinitialisation du navigateur */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 a, a:hover {
  text-decoration: none;
  color: white;
 }

 ul {
  list-style-type: none;
 }

 /* Variables */
 :root {
  --main-text-color: #474747;
  --main-color: #e58f26;
  --second-color: #f0c504;
  --font-children: 'Schoolbell', cursive;
 }

 /* Styles généraux */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  font-size: large;
 }

 .container-fluid {
  padding: 0;
 }


 /* ====================== Header ====================== */

.header {
  background-color: var(--main-color);
  height: 120px;
  line-height: 70px;
}

 .img-logo {
  z-index: 1;
  width: 100px;
  border: 2px double var(--second-color);
  border-radius: 50%;
 }


 /* ====================== Navigation ====================== */

.navbar-collapse {
  z-index: 1;
  background-color: var(--main-color);
  border-radius: 5px;
}

.nav-item {
  padding-left: 15px;
}


 /* ====================== Banner ====================== */

.banner {
  position: relative;
}

 .img-banner {
  width: 100%;
  max-width: 100%;
  max-height: 500px;
  object-fit: cover;
 }

 .inner-banner {
  position: absolute;
  top: 70%;
  width: 100%;
  text-align: center;
 }

 /* Titre */
 .inner-banner h1 {
  font-family: var(--font-children);
  font-size: 6vw;
  color: white;
  text-shadow: 2px 2px 2px var(--main-text-color);
 }

 .inner-banner .btn-custom:hover {
  background-color: var(--second-color);
 }


 /* ====================== Content ====================== */
.content h2 {
  text-align: center;
  font-size: 2.0em;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
}


 /* #################### Index #################### */
 .content-index {
  text-align: justify;
  padding: 20px;
 }

 .content-index article {
  padding: 15px;
  margin-bottom: 30px;
 }

/* #################### Evenement #################### */

/* Card */
.content-events .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

 .card {
  display: flex;
  flex-direction: column;
  width: 18rem;
  margin: 10px;
  padding: 0;
 }

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.card-title, .card-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-weight: bold;
}

.card-title {
  font-size: 40px;
  background-color: var(--main-color);
}

.card-text {
  font-size: 60px;
  font-weight: bolder;
}

.card-event {
  font-size: 30px;
  background-color: var(--main-color);
  border: 1px solid var(--main-text-color);
  margin: 1px;
}

/* Modal */
.modal-content {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .modal img{
    width: 300px;
  }
}

@media screen and (min-width: 601px) {
  .modal img{
    width: 500px;
  }
}


/* #################### Contact #################### */

 /* Maps */
 @media screen and (max-width:550px) {
  .google-map-icon img{
    position: absolute;
    right: 15%;
    top: 10%;
    width: 10%;
  }
  .google-map-iframe {
    display: none;
  }
 }
 @media screen and (min-width:551px) {
  .div-courrier .google-map-iframe iframe{
    position: absolute;
    right: 50px;
    top: 25px;
  }
  .google-map-iframe iframe{
    position: relative;
    display: flex;
    align-items: center;
    width: 40%;
    height: 50vh;
  }
  .google-map-icon {
    display: none;
  }
 }

 .div-courrier, .div-mail {
  padding: 20px;
  position: relative;
  text-align: left;
 }

 .div-mail img{
  width: 50px;
 }


  /* ====================== Footer ====================== */

  footer{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
  }

  .div-footer {
    text-align: center;
    margin: 20px;
    font-size: small;
  }

