/* ====================== Initialisation ====================== */

/* Réinitialisation du navigateur */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 a, a:hover {
  text-decoration: none;
 }

 /* Variables */
 :root {
  --main-text-color: #474747;
  --main-color: #e58f26;
  --second-color: #ffa600;
  --font-children: 'Schoolbell', cursive;
 }

 /* Styles généraux */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  font-size: large;
 }

 .container-fluid {
  padding: 0;
 }

 /* ====================== Header ====================== */

.header {
  background-color: var(--main-color);
  height: 100px;
  line-height: 70px;
}

 .img-logo {
  position: relative;
  z-index: 1;
  top: 5px;
  width: 100px;
  border: 2px double var(--second-color);
  border-radius: 50%;
 }

 /* ====================== Navigation ====================== */

.navbar-collapse {
  z-index: 1;
  background-color: #e58e26;
  border-radius: 5px;
}

.nav-item {
  padding-left: 15px;
}



 /* ====================== Banner ====================== */

.banner {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.ban {
  width: 100%;
  max-width: 100%;
  position: relative;
}

 .img-banner {
  position: relative;
  top: 15%;
  width: 100%;
  max-width: 100%;
  height: 100%;
 }

 .inner-banner {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
 }

 /* Titre */
 .inner-banner h1 {
  position: relative;
  float: left;
  left: 30px;
  top: 50px;
  font-family: var(--font-children);
  color: white;
  text-shadow: 2px 2px 20px #000;
  font-size: 150%;
 }

 /* Bouton */
 .btn-custom {
  position: fixed;
  z-index: 1;
  right: 10px;
  bottom: 30px;
  background-color: var(--main-color);
  color: var(--bs-nav-link-color);
 }

 .inner-banner .btn-custom:hover {
  background-color: var(--second-color);
 }



 /* ====================== Content ====================== */

 .content {
  position: relative;
  top: 20px;
 }

 .content 