/* ====================== Initialisation ====================== */

/* Réinitialisation du navigateur */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 a, a:hover {
  text-decoration: none;
 }

 /* Variables */
 :root {
  --main-text-color: #474747;
  --main-color: #e58e26;
  --second-color: #ffa600;
  --font-children: 'Schoolbell', cursive;
 }

 /* Styles généraux */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  font-size: large;
 }

 .container-fluid {
  padding: 0;
 }

 /* ====================== Header ====================== */

.header {
  background-color: var(--main-color);
  height: 70px;
  line-height: 70px;
}

 .img-logo {
  position: relative;
  z-index: 1;
  top: 5px;
  width: 100px;
  border: 2px double var(--second-color);
  border-radius: 50%;
 }

   /* #### Menu burger #### */

/* Sidenav menu */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #f6b83bef;
  padding-top: 60px;
  transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--main-text-color);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: var(--main-color);
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidenav.active {
  left: 0;
}

/* Bouton close */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.burger-icon {
  float: right;
}

/* Icône burger */
.burger-icon span {
  display: flex;
  position: relative;
  top: 30px;
  width: 35px;
  height: 5px;
  background-color: rgb(252, 245, 229);
  border-radius: 5px;
  margin: 4px;
}


 /* ====================== Banner ====================== */

.banner {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.ban {
  width: 100%;
  max-width: 100%;
  position: relative;
}

 .img-banner {
  position: relative;
  top: 15%;
  width: 100%;
  max-width: 100%;
  height: 100%;
 }

 .inner-banner {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
 }

 /* Titre */
 .inner-banner h1 {
  position: relative;
  float: left;
  left: 30px;
  font-family: var(--font-children);
  color: white;
  text-shadow: 2px 2px 20px #000;
  font-size: 150%;
 }

 /* Bouton */
 .inner-banner .btn-custom {
  position: relative;
  float: right;
  top: -30px;
  background-color: var(--main-color);
  margin-right: 20px;
 }

 .inner-banner .btn-custom:hover {
  background-color: var(--second-color);
 }



 /* ====================== Content ====================== */

 .content {
  position: relative;
  top: 20px;
 }

 .content 